apiKey: {{ getenv("GRADIENT_API_KEY") }}
cluster_id: null
command: PIP_DISABLE_PIP_VERSION_CHECK=1 jupyter lab --allow-root --ip=0.0.0.0 --no-browser --ServerApp.trust_xheaders=True --ServerApp.disable_check_xsrf=False --ServerApp.allow_remote_access=True --ServerApp.allow_origin='*' --ServerApp.allow_credentials=True
container: {{ getenv("NOTEBOOK_IMAGE") }}
environment:
  TAILSCALE_AUTHKEY: {{ getenv("TAILSCALE_AUTHKEY") }}
  GITLAB_RUNNER_TOKEN: {{ getenv("GITLAB_RUNNER_TOKEN") }}
  CI_SERVER_PROTOCOL: {{ getenv("CI_SERVER_PROTOCOL") }}
  CI_SERVER_HOST: {{ getenv("CI_SERVER_HOST") }}
  CI_SERVER_PORT: {{ getenv("CI_SERVER_PORT") }}
is_preemptible: false
is_public: false
machine_type: Free-P5000
name: {{ getenv("CI_PROJECT_NAMESPACE") }}-{{ getenv("CI_PROJECT_NAME") }}-{{ getenv("CI_COMMIT_SHORT_SHA") }}
project_id: pfb03adzrro
registry_password: {{ getenv("GITLAB_READ_REGISTRY_API_TOKEN") }}
registry_username: gitlab-ci-token
shutdown_timeout: 6
tags: null
workspace: {{ getenv("CI_PROJECT_URL") }}
workspace_password: {{ getenv("GITLAB_READ_REPOSITORY_API_TOKEN") }}
workspace_ref: {{ getenv("CI_COMMIT_REF_NAME") }}
workspace_username: whatever
